{% extends 'base.html' %}
{% block body %}

<div class='container-fluid my-0 m px-0  '>
 <img src="/static/img/n3.jpg" class="d-block w-100" height='430' padding:"30px" alt="...">
 
 </div>  
 <h1 align=center>ABOUT US</h1>
  <!--our story part-->
<div class='main' style="border-style:solid;
 border-color:black;
 border-width:5px;
 border-radius:5px;
 background-color: black;
 

 ">

  <img src="/static/img/1.jpg" class="d-block w-60" height='430' style="float:right; alt="...">
  <h1 align=center  style="color:white">our story</h1>
   <p  style="color:white" >
    
     Rakesh Fitness, Inc., is the rapidly growing franchisor of compact, 
     Rakesh Fitness, Inc., is one of the top franchisor of compact,
     24/7 express fitness clubs. Rakesh Fitness is open 24/7, and emphasizes fast,
     convenient and affordable workouts.
     Rakesh Fitness was founded in March 2003 by Peter Taunton who has 25 years of experience in the fitness industry.
     Headquartered in Chanhassen, MN, Rakesh sold its first franchisee in April 2004.
     Rakesh is the world’s fastest growing fitness chain with a global presence spread across US,
     Canada, Mexico, Australia and India with more than 2200 clubs signed and 1450 locations opened.
     Rakesh Fitness offers fast, convenient and affordable fitness clubs, having 24/7 access. It is the Industry’s fastest-growing fitness franchisor. It has opened clubs in Bangalore and Mumbai. In India, for the people who work in call centers or other such businesses, there is a great demand of fitness clubs such as Snap Fitness which make exercise fun and emphasize on fast and affordable workouts.
     The company is the leader in promoting member-friendly policies and value-added benefits. 
     It offers month-to-month memberships as opposed to long-term contracts,
     and allows memberships to be frozen for up to three months a year with no penalty.
     
     
     
     
     
     
                                                                     by:rakesh</p>


 
 
</div>  

   <!--our Team part-->
 <h1 align="center"style="margin-top:50px"> MEET OUR TRAINERS</h1>
 <p align="center" style="color:red">(Our trainers are the best of the best. They have over ten years of experiences in this field.)</p>
  <div class=figure>
    
    <p><img src="/static/img/t1.jpg" class="d-block w-30" height='430' style="float:left; margin-top: 100px;
      margin-bottom: 10px;
      margin-right: 50px;
      margin-left: 50px; alt="..."><p align=center><b>DAVID PARKER</b>
      <p align=center>(Yoga Trainor) 
  </div>
  <div class=figure>
   <p> <img src="/static/img/t2.jpg" class="d-block w-30" height='430' style="float:left; margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 120px;  alt="..."><p align=center><b>ALAN COOPER </b>
  <p align=center>(Fitness Teacher)
  </div>
  <div class=figure>
   <p> <img src="/static/img/t3.jpg" class="d-block w-30" height='430' style="float:right; margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px; alt="..."><p align="center" ><b>PAUL FRANKY</b>
  <p align=center>(Cardio trainer)
  </div>
  <div class=line style="border-style:solid;
 border-color:black;
 border-width:5px;
 border-radius:5px;
 background-color: black;">
 <h1 align=center  style="color:white">Dedicated Support Team</h1>
 <h4 align=center  style="color:white">Not only great team but we also provide the best support.</h4>
 <p align=center  style="color:white">
 COPYRIGHT 2020 GOODLAYERS, ALL RIGHT RESERVED
   </div>  
{% endblock body %}
{% block title %}about
{% endblock title %}
