{% extends 'base.html' %}
{% block body %}
<h1 align=center>RAKESH FITNESS</h1>
  <!--fitness-->
<div class='main' style="border-style:solid;
 border-color:black;
 border-width:5px;
 border-radius:5px;
 background-color: black;
 

 ">

  <img src="/static/img/s3.jpg" class="d-block w-50" height='350' style="float:right; alt="...">
  <h4 align=center  style="color:white">FITNESS</h4>
   <p  style="color:white" >
    
    A person takes up a gym membership to get fit.
     He may have specific goals either to lose weight,
      gain weight, general maintenance or maybe sport specific or even medical.</p>
<p  style="color:white" >
We all have different bodies and each individual is different
 so sometimes it is beneficial to hire a personal trainer.</p>
<p  style="color:white" >
The skilled guidance of the trainer keeps you involved in a
 variety of different fitness exercises so that you don’t get astray.
  Fitness trainers are thorough professionals who know how to keep people
   motivated to follow the fitness programs. They plan the fitness program 
   according to your individual needs. They will constantly keep you inspired
    and stimulated by keeping you involved in interesting activities.</p>
<p  style="color:white" >
A personal trainer can help you reach your fitness goals.
He is a coach, a counselor, a teacher, a source of inspiration and motivation.</p>
                                                                     </div>
     <!--personal fitness-->
 <div class='main' style="border-style:solid;
 border-color:black;
 border-width:5px;
 border-radius:5px;
 background-color: black;
 
 

 ">

  <img src="/static/img/1.jpg" class="d-block w-50" height='350' style="float:left; alt="...">
  <h4  style="color:white">Why is a Personal Trainer needed ?</h4>
  <ul style="color:white">A trainer will:</ul>
  <li style="color:white">Assess your individual abilities and needs.</li>
  <li style="color:white">Personalize your workouts so that they help you achieve your goals.</li>
  <li style="color:white">Ensure you are doing exercises correctly and provide instant feedback on
   how to adjust your posture, motion, and exertion to get maximum results and prevent injury.</li>
  <li style="color:white">Keep changing your workouts as you gain in strength
   and endurance or if a certain exercise is not working for you.</li>
  <li style="color:white">Keep your workouts interesting and fun, introducing you to using different
   equipment to work the same muscle groups.</li>
   <p  style="color:white">Becoming a trainer is actually very easy. Gold’s Gym Fitness Institute conducts courses in personal training. 
   This is a three month program with theory & Practical followed by an internship.
    You just need to be 12th passed as a basic qualification.</p>
   
                                                                     </div>
 <!--yoga-->
<div class='main' style="border-style:solid;
 border-color:black;
 border-width:5px;
 border-radius:5px;
 background-color: black;
 
 

 ">

  <img src="/static/img/s2.jpg" class="d-block w-50" height='350' style="float:right; alt="...">
  <h4 style="color:white">What is Yoga?</h4>
  <p  style="color:white">
Yoga poses are great to strengthen and relax the body, however there's a lot more to Yoga than that.

Derived from the Sankrit word ‘yuj’ which means ‘to unite or integrate’,
yoga is a 5,000-year-old Indian body of knowledge. Yoga is all about harmonizing 
the body with the mind and breath through the means of various breathing exercises,
yoga poses (asanas) and meditation.
Our primary yoga workshop, Sri Sri Yoga teaches a holistic way of life that integrates all elements of Yoga,
 making a prayerful discipline that unites the body, mind and soul.

Along with the series of simple, yet effective yoga postures and breathing techniques, 
a greater emphasis is placed on the experience of meditation, and practical yoga philosophy.
ou'll need to make some adjustments as your baby and belly grow and your center of gravity shifts.
 After your first trimester, don’t do any poses that have you lying on your back.
  And don’t try to stretch any further than you did before pregnancy. 
Your pregnancy hormones will loosen up your joints and make you more likely to get injured.</p>
  </div>
<div class=line align=center style="border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:5px;
    background-color: black;">
      <p align=center  style="color:white">
 COPYRIGHT 2020 GOODLAYERS, ALL RIGHT RESERVED
      </div>
{% endblock body %}
{% block title %}services
{% endblock title %}
